apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: D:\lib\k8s\kompose.exe convert
    kompose.version: 1.21.0 (992df58d8)
  creationTimestamp: null
  labels:
    io.kompose.service: streaming-app
  name: streaming-app
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: streaming-app
  strategy: {}
  template:
    metadata:
      annotations:
        kompose.cmd: D:\lib\k8s\kompose.exe convert
        kompose.version: 1.21.0 (992df58d8)
      creationTimestamp: null
      labels:
        io.kompose.service: streaming-app
    spec:
      containers:
      - args:
        - node
        - server.js
        env:
        - name: MONGO_URL
          value: mongodb://db.default.svc.cluster.local:27077/streamingDB ## like => mongodb://10.107.172.190:27077/streamingDB
        - name: NODE_ENV
          value: production
        - name: PORT
          value: "8080"
        - name: REDIS_URL
          value: redis://redis.default.svc.cluster.local:6379 ## like => redis://10.101.179.202:6379
        image: daniel123mm/streaming-app
        imagePullPolicy: ""
        name: streaming-app
        ports:
        - containerPort: 3000
        resources: {}
        workingDir: /app
      restartPolicy: Always
      serviceAccountName: ""
status: {}
