<!DOCTYPE html>
<html ng-app="myApp" ng-controller="customersCtrl">
<head>
  <title>YouTobe</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/w3.css">
  <link rel="stylesheet" href="css/homePage.css">
  <script src="js/angular.min.js"></script>
</head>

<body>

<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <div class="w3-bar-item w3-button" onclick="location.href='/';"><b>You</b>Tobe</div>

    <div class="w3-bar-item w3-right">
      <button onclick="register()">註冊</button>
    </div>

    <div class="w3-bar-item w3-right">
      <button onclick="login()">登入</button>
    </div>
   
  </div>
</div>

<!-- 
  --login form
-->
<div id="id01" class="modal">
  <form class="modal-content animate">
    <div class="container">
      <h2>使用者登入</h2>
      <label><b>帳號</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>

      <label><b>密碼</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>

      <button ng-click="submitAccount() ">登入</button>
    </div>
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
    </div>
  </form>
</div>
<!--
  --
-->

<header class="w3-display-container w3-content w3-wide" style="max-width:1000px;" id="home">
  <img class="w3-image" src="images/title.jpg" alt="Architecture" width="1200" height="600">
</header>


<div class="w3-content w3-padding" style="max-width:1564px">
  <div class="w3-container w3-padding-32" id="Videos">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">最新影片</h3>
  </div>
  
<!--
  --video list grid
-->
  <div class="w3-row-padding">
   <a ng-repeat="video in videoList" ng-href="/streaming?{{video.dash}}">
	  <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <div class="w3-display-topleft w3-black w3-padding">{{video.name}}</div>
            <img ng-src="{{video.coverImage}}" alt="House" style="width:100%">
        </div>
      </div>
   </a>
</div>

<script src="js/homePage.js"></script>
</body>
</html>
