<!DOCTYPE html>
<html>
<title>streaming</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>


<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <div class="w3-bar-item w3-button" onclick="location.href='127.0.0.1:8080';"><b>VIDEO</b> Streaming</div>
    <div class="w3-right w3-hide-small">
    </div>
  </div>
</div>


<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
  <img class="w3-image" src="images/title.jpg" alt="Architecture" width="1500" height="800">
</header>


<div class="w3-content w3-padding" style="max-width:1564px">


  <div class="w3-container w3-padding-32" id="Videos">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Videos</h3>
  </div>
  

  <div class="w3-row-padding">
   <a href="streaming?dir=one_piece&name=one_piece">
	  <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <div class="w3-display-topleft w3-black w3-padding">One Piece</div>
            <img src="images/one.jpg" alt="House" style="width:100%">
        </div>
      </div>
   </a>
   
	<a href="streaming?dir=nba&name=nba">   
      <div class="w3-col l3 m6 w3-margin-bottom">
		<div class="w3-display-container">
		  <div class="w3-display-topleft w3-black w3-padding">2016 nba final</div>
			<img src="images/nba.jpg" alt="House" style="width:100%">
        </div>
      </div>
	</a>
	
	<a href="streaming?dir=dead&name=dead"> 
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <div class="w3-display-topleft w3-black w3-padding">dead pool</div>
            <img src="images/deadpool.jpg" alt="House" style="width:100%">
        </div>
      </div>
	</a>
	
	<a href="streaming?dir=kusua&name=psy"> 
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <div class="w3-display-topleft w3-black w3-padding">奇木楠雄的災難</div>
           <img src="images/pyscial.jpg" alt="House" style="width:100%">
        </div>
      </div>
	</a>
  </div>
</body>
</html>
